# FiestaPi default environment.
# Filled in on first boot by /opt/fiestaboard/firstboot.sh.
COMPOSE_PROFILES=fiestaupdater
FIESTAUPDATER_TOKEN=__GENERATED_AT_FIRST_BOOT__
FIESTABOARD_PROFILE=pi
PRODUCTION=true
TZ=Etc/UTC
