[Unit]
Description=Periodically check FiestaPi mDNS health

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=fiestapi-heal-mdns.service

[Install]
WantedBy=timers.target
